body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  color:palevioletred;
  margin-top:100px;
}

button{
  border: none;
  outline: none;
  background-color:rgb(245, 166, 63);
  padding:20px;
  border-radius:20px;
  font-size:25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.on-off-buttons{

  
}